:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*region Main and Body setup*/
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  place-content: center;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  min-height: 100vh;
}
header, footer {
  width: 100%;
  padding: 0.5rem;
}

/*endregion*/

/*#region Schedule Table Display setup*/
.queue-cell {
  text-wrap: nowrap;
  text-align: center;
  width: 80px;
}
.hour-cell {
  text-wrap: nowrap;
  text-align: center;
  width: 120px;
}
.queue-table {
  border: 1px solid dimgray;
  border-collapse: collapse;
}
#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  place-items: center;
}
/*#endregion*/

/*#region TextArea setup*/
#input-text-schedule {
  width: 290px;
  height: 200px;
  max-width:290px;
  max-height: 380px;
}
/*#endregion*/



/*#region Minor*/
.flex-div {
  display: flex;
  flex-direction: column;
}
.margin-top-1rem {
  margin-top: 1rem;
}
.row-gap-1rem {
  row-gap: 1rem;
}
.col-gap-2rem {
  column-gap: 2rem;
}
/*#endregion*/